<% include ../partials/header %>



<div class="container">
  <div  style="text-align:center;" class="jumbotron">
    <h1 style ="text-transform: capitalize">Hoş Geldiniz, <%= currentUser.name%> <%=currentUser.surname  %>!</h1>   
    <a href="/callCenter/new"><button style="color:black;background-color:white;" class ="btn-info btn-lg"> Yeni Site Yöneticisi Ekle</button></a>
    <a href="/subscriptions"><button style="color:black;background-color:white;" class ="btn-info btn-lg"> Aktif Kullanıcıları Göster</button></a> 
  </div>
   
</div>

<% include ../partials/footer %>