<% include partials/header %>
<h1> Blackbox Info</h1>

<a  href="/"> <button  >View Your BlackBoxes</button></a>

<a  href="/1232/gps"><button class="btn btn-md">Show Gps</button></a>



<% include partials/footer %>