<% include partials/header %>


<h1>ACCELEROMETER PLOT</h1>
<div id="myDiv"></div>


<h1>GYRO PLOT</h1>
<div id="myDiv2"></div>

<script>
  

</script>


<script>
var data;
var gyro;
var accelerometer;
var gyro_count = 0;
var accelerometer_count = 0;
  console.log("Hey!");
    var time = [];
    var listx = [];
    var listy = [];
    var listz =[];
    var user_id = "5aa9598c09fb070acfe3d463"; 
    var connection = new WebSocket('wss://exercise-omerseyrekbasan.c9users.io/ws/' + user_id + '/getAcc');
    var count = 0;
    connection.onopen = function () {
    // connection is opened and ready to use
    connection.send("Hello");
    };
    
    connection.onerror = function (error) {
    // an error occurred when sending/receiving data
    console.log(gyro_count);
    console.log(accelerometer_count);
    
    };
    
    connection.onmessage = function (msg) {
    
    // console.log(msg.data.val);
    data = JSON.parse(msg.data);
    // console.log(msg
    // console.log(data);
    console.log(data);
    if (data.gyro) {
      gyro_count++;
       gyro = data.accelerometer;
    } else {
      accelerometer = data.accelerometer;
      accelerometer_count++;
    }
    // connection.send("yolla");
    count++;
    time.push(count);
    
    }



function rand() {
  return Math.random();
}
//Accelerometer Graph
Plotly.plot('myDiv', [{
  y: [1,2,3].map(rand),
  mode: 'lines',
  line: {color: '#80CAF6'}
}, {
  y: [1,2,3].map(rand),
  mode: 'lines',
  line: {color: '#DF56F1'}}, {
  y: [1,2,3].map(rand),
  mode: 'lines',
  line: {color: '#9F0641'}
  
}]);

var cnt = 0;

var interval = setInterval(function() {

  Plotly.extendTraces('myDiv', {
    y: [[accelerometer.xAxis], [accelerometer.yAxis], [accelerometer.zAxis]]
  }, [0, 1, 2])

  if(cnt === 100) clearInterval(interval);
}, 30);




//GYRO Accelerometer Graph
Plotly.plot('myDiv2', [{
  y: [1,2,3].map(rand),
  mode: 'lines',
  line: {color: '#80CAF6'}
}, {
  y: [1,2,3].map(rand),
  mode: 'lines',
  line: {color: '#DF56F1'}}, {
  y: [1,2,3].map(rand),
  mode: 'lines',
  line: {color: '#9F0641'}
  
}]);

var cnt = 0;

var interval = setInterval(function() {

  Plotly.extendTraces('myDiv2', {
    y: [[gyro.xAxis], [gyro.yAxis], [gyro.zAxis]]
  }, [0, 1, 2])

  if(cnt === 100) clearInterval(interval);
}, 30);
</script>



<% include partials/footer %>