<% include ../partials/header %>

<div class="container login">
<form action="/subscription" method="post">
  <div class="form-group">
    <label>Kullanıcının Email Adresi</label>
    <input type="text" class="form-control" name="email"  placeholder="E-mail">
  </div>
  <div class="form-group">
    <label>Karakutunun Mac Adresi</label>
    <input type="text" class="form-control" name="blackbox"  placeholder="Karakutunun Mac Adresi">
  </div>
  <div class="form-group">
    <label>Aracın Markası</label>
    <input type="text" class="form-control" name="subscription[marka]"  placeholder="Marka">
  </div>
  <div class="form-group">
    <label>Aracın Modeli</label>
    <input type="text" class="form-control" name="subscription[model]"  placeholder="Model">
  </div>
  <div class="form-group">
    <label>Aracın Rengi</label>
    <input type="text" class="form-control" name="subscription[renk]"  placeholder="Renk">
  </div>
  <div class="form-group">
    <label>Aracın Plakası</label>
    <input type="text" class="form-control" name="subscription[plaka]"  placeholder="Plaka">
  </div>
  <div class="form-group">
    <label>Aracın Motor Numarası</label>
    <input type="text" class="form-control" name="subscription[motor]"  placeholder="Motor">
  </div>
  <div class="form-group">
    <label>Aracın Şase Numarası</label>
    <input type="text" class="form-control" name="subscription[sase]"  placeholder="Sase">
  </div>
  <button type="submit" class="btn btn-primary">Onayla</button>
</form>
</div>



<% include ../partials/footer %>