<% include ../partials/header %>





<div class="container">
  <div  style="text-align:center;" class="jumbotron">
    <h1 style ="text-transform: capitalize">Hoş Geldiniz, <%= currentUser.name%> <%=currentUser.surname  %>!</h1>      
    <p> Hemen Sürüş Geçmişinizi Görüntüleyin! </p>
    <a href="/<%=currentUser._id%>/acc_index" ><button style="color:black;background-color:white;"class ="btn-info btn-lg"> Sürüş Geçmişimi Göster</button></a> 
  </div>
   
</div>

<% include ../partials/footer %>