<% include ../../partials/header %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">


<div  class="container login" style="margin-left:35%;">
<p>İstenilen Başlangıç Tarih ve Saati Seçiniz</p>
<form method="get" action="/<%=wantedUser%>/acc">
<div class="container">
    <div style="color:blue;" class="row">
        <div  class='col-sm-4'>
            <div    class="form-group">
                <div  class='input-group date' id='datetimepicker1'>
                    <input  type='text' class="form-control" name="start" />
                    <span  class="input-group-addon">
                        <span  class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
                });
            });
        </script>
    </div>
</div>


<p>İstenilen Bitiş Tarih ve Saati Seçiniz</p>


<div class="container">
    <div style="color:blue;" class="row">
        <div class='col-sm-4'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker2'>
                    <input type='text' class="form-control" name="end"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker2').datetimepicker({
                });
            });
        </script>
    </div>

</div>
<button class="btn-success btn-lg" type="submit"> Gönder!</button>
</form>
</div>
<script>
  $(function () {
    $('#datetimepicker1').datetimepicker();
 });
</script>


<script>
var btn = document.getElementById("btn_submit");
btn.onclick = function() {
    console.log($('#datetimepicker2').data().date);
};



// console.log( $('#datetimepicker2').data().DATE());
console.log( $('#datetimepicker2').data().picker);
</script>

<% include ../../partials/footer %>